@model IEnumerable<ERM_proyecto_3.Models.hollidays>
@using Microsoft.AspNetCore.Identity
@inject UserManager<Employee> UserManager
@inject SignInManager<Employee> SignInManager

@{
    Employee employee = await UserManager.GetUserAsync(User);
    ViewData["Title"] = "Index";

}

<h1>My Holidays</h1>


<p>
    <a class="btn btn-primary mb-4" asp-action="Create">Request holidays</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <p class="mb-0">From</p>
            </th>
            <th>
                <p class="mb-0">To</p>
            </th>
            <th>
                <p class="mb-0">Status</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (SignInManager.IsSignedIn(User))
        {
            @foreach (var item in Model.Where(id => id.EmployeeId == employee.Id))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @{
                            if (item.Aproved)
                            {
                                <p class="font-weight-bold text-success">Aproved</p>
                            }
                            else
                            {
                                <p class="font-weight-bold text-danger">Denied</p>
                            }
                        }
                    </td>


                    @if (User.IsInRole("manager"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }
                </tr>
            }
        }


    </tbody>
</table>
@{
    int restantDaysOfHolidays = employee.RestantDaysOfhollidays;
    if (restantDaysOfHolidays == 1)
    {
        <h5>Te queda @restantDaysOfHolidays día de vacaciones</h5>
    }
    else if (restantDaysOfHolidays == 0)
    {
        <h5>No te quedan días de vacaciones</h5>
    }
    else if (restantDaysOfHolidays < 0)
    {
        <h5>Debes días de vacaciones</h5>
    }
    else
    {
        <h5>Te quedan @restantDaysOfHolidays días de vacaciones</h5>
    }
}