@page
@model RegisterModel


@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4 flex-row">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new employee.</h4>
            <hr />
            <div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.EmployeeName"></label>
                    <input asp-for="Input.EmployeeName" class="form-control" />
                    <span asp-validation-for="Input.EmployeeName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.EmployeeSurname"></label>
                    <input asp-for="Input.EmployeeSurname" class="form-control" />
                    <span asp-validation-for="Input.EmployeeSurname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Image"></label>
                    <input asp-for="Input.Image" class="form-control" />
                    <span asp-validation-for="Input.Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.DateOfBirth"></label>
                    <input asp-for="Input.DateOfBirth" class="form-control" />
                    <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Phone"></label>
                    <input asp-for="Input.Phone" class="form-control" />
                    <span asp-validation-for="Input.Phone" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label asp-for="Input.TotalDaysOfhollidays"></label>
                    <input asp-for="Input.TotalDaysOfhollidays" class="form-control" />
                    <span asp-validation-for="Input.TotalDaysOfhollidays" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
  

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
